<a href="https://colab.research.google.com/github/kajal1301/Pwskills/blob/DSA/DSA_Mock_2_ques_17.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a function that takes a list of numbers as input and returns a new list containing only the even numbers from the input list. Use list comprehension to solve this problem.
Example:

Input: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Output: [2, 4, 6, 8, 10]

In [6]:
def even_nums():
  ##taking input
    nums= list(map(int,input("enter list:-").split(',')))
    #list comprehension
    return [i for i in nums if i%2==0]

In [7]:
print(even_nums())

enter list:-1,2,3,4,5,6,7,8,9,10
[2, 4, 6, 8, 10]