<a href="https://colab.research.google.com/github/kajal1301/Pwskills/blob/main/PPT_DS_assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Scenario: A company wants to analyze the sales performance of its products in different regions. They have collected the following data:
   Region A: [10, 15, 12, 8, 14]
   Region B: [18, 20, 16, 22, 25]
   Calculate the mean sales for each region.

In [2]:
A= [10, 15, 12, 8, 14]
B= [18, 20, 16, 22, 25]
#mean sales for each region:
print(f'Mean for Region A: {sum(A)/len(A)}')
print(f'Mean for Region B: {sum(B)/len(B)}')

Mean for Region A: 11.8
Mean for Region B: 20.2

2. Scenario: A survey is conducted to measure customer satisfaction on a scale of 1 to 5. The data collected is as follows:
   [4, 5, 2, 3, 5, 4, 3, 2, 4, 5]
   Calculate the mode of the survey responses.

In [3]:
import statistics as st
data = [4, 5, 2, 3, 5, 4, 3, 2, 4, 5]
print(f'Mode of data is : {st.mode(data)}')

Mode of data is : 4

3. Scenario: A company wants to compare the salaries of two departments. The salary data for Department A and Department B are as follows:
   Department A: [5000, 6000, 5500, 7000]
   Department B: [4500, 5500, 5800, 6000, 5200]
   Calculate the median salary for each department.

In [4]:
 A= [5000, 6000, 5500, 7000]
 B= [4500, 5500, 5800, 6000, 5200]
 print(f'Median of Department A : {st.median(A)}')
 print(f'Median of Department b : {st.median(B)}')

Median of Department A : 5750.0
Median of Department b : 5500

4. Scenario: A data analyst wants to determine the variability in the daily stock prices of a company. The data collected is as follows:
   [25.5, 24.8, 26.1, 25.3, 24.9]
   Calculate the range of the stock prices.

In [5]:
data1= [25.5, 24.8, 26.1, 25.3, 24.9]
print(f'Range of stock prices is: {max(data1) - min(data1)}')

Range of stock prices is: 1.3000000000000007

5. Scenario: A study is conducted to compare the performance of two different teaching methods. The test scores of the students in each group are as follows:
   Group A: [85, 90, 92, 88, 91]
   Group B: [82, 88, 90, 86, 87]
   Perform a t-test to determine if there is a significant difference in the mean scores between the two groups.